@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600&family=Josefin+Sans:wght@400;700&family=Montserrat:wght@100;200;300;400;600;700;800&family=Poppins:ital,wght@0,300;0,400;0,700;1,500&display=swap");
/* Fira Sans', */
*,
*::after,
*::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/* Variáveis CSS */
:root {
  --cor-primaria-texto: #4a222b; /* paragrafos e linha */
  --cor-primaria-titulo: #15a883; /* titulos */
  --botao-hover: #ca3b55; /* Botão hover  */
  --botao: #ea577c; /* Botão e logo */
  --sombra-box: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  --borda-arredondada: 0.5rem;
  --fonte-geral: "Fira Sans", sans-serif;
}
html {
  font-size: 18px;
}
body {
  font-size: 10px;
  background: linear-gradient(
    90deg,
    rgba(255, 252, 233, 1) 42%,
    rgba(255, 255, 240, 1) 81%
  );

  /* Propriedades recomendadas para
  minimizar a chance de serrilhamento de fontes
  em certos navegadores/dispositivos */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h3 {
  font-family: var(--fonte-geral);
}

h2 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: var(--cor-primaria-texto);
}

/* INICIO  CSS da pagina inicial para h3 e li  */

h3 {
  padding-top: 48px;
  font-weight: 600;
  font-size: 26px;
  color: var(--cor-primaria-titulo);
  margin-bottom: 16px;
}

p {
  font-family: var(--fonte-geral);
  color: var(--cor-primaria-texto);
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #4a222b;
  margin-bottom: 10px;
}

/* FIM CSS da pagina inicial para h3 e li  */
